.additem-button {
    background-color:#efacb5;
    margin-top: 20px;
    color: white;
    border: 2px solid #f79bac;
    align-self: center;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    padding: 8px 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.additem-button:hover {
    background-color:#f79bac;
}

.storage-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 40px;
    color: #f99cab;
}

.storage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.storage-item{
    display: flex;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    border-style: solid;
    border-color: #f99cab;
}

.storage-item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.storage-itemName-text {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #626262;
    font-size: 30px;
}

.storage-itemDetails-text {
    color: #929292;
    font-size: 20px;
    margin: 0;
    justify-content: left;
}

.storage-confirmation-button {
    margin: 30px;
}

.storage-small-button {
    padding: 10px 10px;
}

.storage-form{

    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-width: thick;
    border-color:  #f3c2c7;
}

.storage-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.storage-form-label{
    align-self: flex-start;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #929292;
}